body {
  background-color: #f8e49c;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
}

p {
  text-align: center;
  font-size: 25px;
  padding-bottom: 30px;
}

a {
  display: inline-flex;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 30px;
}
